@media (max-width:500px){

    

    .header .logo { width: 80%;}
    .header .logo img {
        margin: 0px auto;
        width: 30%;
        align-items: center;
        display: block;
    }

    .header .menu-bar { display: flex; 
        width: 100%; 
        border: 1px solid;
        justify-content: space-between;
    }
    .header .search { display: none;}

    .header .search-top { 
        display: block; 
        width: 20%; 
        /* border: 1px solid; */
        align-items: center;
    }

    .header .nav { display: none;}

    .slider .right-text { padding: 22px 10px;}

    .slider .right-text h1 {
        font-size: 16px;
        line-height: 18px;
    }

    .slider .right-text p{ font-size: 12px; margin-top: 20px;}

    .slider .right-text button{ padding: 8px; margin:10px;}

    .slider .slider-btm { bottom: -125px;}

    .slider .slider-btm h1 { font-size: 22px;}

    .slider .slider-btm button {font-size: 14px;}

    .slider .slider-btm  {padding: 10px; text-align: center;}

    .slider .slider-btm .fa-calendar-check {padding: 12px;}

    .dental-treatment { margin-top: 135px;} 
    .dental-treatment .heading img {top:22px;left: 177px;}

    .dental-treatment .heading h1 { font-size: 34px;}

    .dental-treatment .box-row .box { width: 100%;}

    .dental-treatment .box-row .box::after {

        bottom:-200px;
        left: 200px;
    }

    .dental-treatment .box-row .box:hover::after { 
        transform: translate(-200px,-176px);  
           
    }

    .best {
        background-image: none;
        
    }

    .best .left {
        width: 100%;
        
    }

    .best .left h1 {
        font-size: 30px;
    }

    .best .left .btm .img {
        width: 20%;
        height: 80px;
        line-height: 65px;
       
    }

    .dental-specialist .heading img {
        top: 10px;
        left: 140px;
    }
    .dental-specialist .heading h1 {
        font-size: 36px;
    }

    .dental-specialist .box .b1 {
        width: 100%;
        margin: 20px 0px;
    }

    .working .left {
        width: 100%;
        padding: 50px;
        text-align: center;
    }
    .working .right {
        width: 100%;
        padding: 50px;
        text-align: center;
    }

    .specialities .heading img {
        top: 10px;
        left: 140px;
    }
    .specialities .heading h1 {
        font-size: 36px;
    }
    .specialities .box .b1 {
        width: 100%;
        margin: 0px 10px;
    }

    .dental-specialist .box .b1 .top {
        height: 380px;
    }

    .dental-specialist .box .b1 {
        height: 595px;
    }
    
    .teeth {
        background: none;
        padding: 10px;
    }

    .teeth .text {
        width: 100%;
    }

    .teeth .text ul li {
        padding: 8px 0px;
    }

    .counter .c1 {
        width: 100%;
        margin: 15px 0px;
    }

    .help-part .h1 {
        width: 100%;
    }

    .clients p {
        font-size: 18px;
        padding:20px;
    }

    .clients .border {
        margin: 0px;
    }

    .specialities {
        padding: 0px;
    }

    .specialities .box .b1 .top {
       height: 295px; 
    }

    .specialities .box .b1 .btm {
        height: 200px;
    }

    .world .box .b1 {
        width: 100%;
    }

    .world {
        padding: 0px;
    }

    .world .heading img {
        top: 10px;
        left: 140px;
    }

    .partner .box .p1 {
        width: 100%;
    }

    .partner .heading img {
        top: 10px;
        left: 140px;
    }

    .partner {
        padding: 0px;
    }

    .footer {
        padding: 10px;
    }

    .footer-btm .fa-envelope {
        right: 30px;
    }

    .footer-top .f1 {
        width: 100%;
        margin-top: 20px;
    }

    .footer-bottom .copy,.terms {
        font-size: 12px;
    }
   

}